header {
    background-image: none !important;
    position: relative !important;
    color: #fff;
}

header .backgroundImg {
    z-index: -1;
}

header .header-title {
    position: absolute;
    top: 0;
    width: 100%;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bundleSection {
    padding: 50px 0;
    background-image: url(../images/background.png);
    background-color: #fff;
}

.bundle-links a {
    display: block;
}

.bundle-links {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.bundleSection .circle {
    background: #F8F8F8;
    border-radius: 100%;
    padding: 40px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.bundle-links a:hover .circle {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

}

.circle .imgBox {
    width: 50px;
    height: 50px;
}

.circle .imgBox img {
    width: 100%;
    height: 100%;
}

.bundle-links .desc {
    text-align: center;
    padding: 10px 0;
    width: 150px;
}

.bundle-links .desc label {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

header .overlay .headings * {
    text-align: center;
    color: #fff;
    margin: 0;
}

footer {
    background: #333 !important;
    color: #fff !important;
    border-top: 1px solid #009bdf !important;
}

.copyright {
    color: #fff;
}

footer a {
    color: rgba(48, 167, 233, .7) !important;
    text-decoration: none;
}

footer a:hover {
    color: rgba(48, 167, 233, 1) !important;
    text-decoration: none;
}

section.content {
    padding: 50px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flexible {
    display: flex;
}

.pb-header-mark {
    float: none !important;
    margin: 0 !important;
}

header .container {
    height: 75px;
}

header .container .title {
    display: flex;
    height: 100%;
    float: left;
    align-items: center;
}

header .container .title * {
    margin: 0;
    margin-right: 10px !important;
}

header .container .userIcons {
    height: 100%;
    display: flex;
    align-items: center;
}

header .container .userIcons * {
    margin: 0;
    margin-left: 15px;
}

body {
    background: #F8F8F8;
}

.left-panel {
    background: #fff;
    padding: 1px 15px;
    height: 500px;
}

.left-panel ul {
    padding: 0;
    list-style-type: none;
}

.left-panel h3 {
    color: #cf0989
}

.left-panel ul li {

}

.left-panel ul li a {
    text-decoration: none !important;
    display: block;
    padding: 5px 10px;
    color: #717171;
}

.left-panel ul li a.active {
    color: black;
    font-weight: bolder;
}

.left-panel ul li a:hover {
    background: #f0f0f0;
}

.sub-heading {
    text-align: center;
    margin-bottom: 30px;
}

.sub-heading h1, .sub-heading h4 {
    margin: 0;
}

.sub-heading h4 {
    color: #717171;
}

.main-section .body h3 {
    color: #314183;
    margin: 0;
}

.link-box .link-heading {
    background: #F2F2F2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box .link-heading .icon {
    width: 100px;
    max-height: 100px;
}

.link-box .link-heading .icon img {
    width: 100%;
    height: 100%;
}

.link-box {
    border-radius: 4px;
    border-color: #e1e1e1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    margin: 10px 0;
    position: relative;
}

.link-box .checkBox {
    position: absolute;
    top: 25px;
    left: 15px;
}

.link-body {
    padding: 15px;
    height: 150px;
    position: relative;
}

.link-body h4 {
    color: black;
}

.link-footer {
    padding: 10px 15px;
}

.link-footer .badge {
    background: #EEEEEE;
    color: black;
    padding: 5px 10px;
}

.link-body, .link-footer {
    background: #fff;
}

.link-body p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.link-box a {
    text-decoration: none;
    color: #717171;
}

.link-box a:hover {
    color: #717171;
}

.main-section .body section {
    margin-bottom: 50px;
}

.partnerLogos {
    display: flex;
    justify-content: space-evenly;
}

.ourPartner h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.ourPartner {
    background: #fff;
    padding: 50px 0;
}

header .backgroundImg .logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

header .backgroundImg .logo img {
    width: 100%;
    height: 100%;
}

.legalServices .bundleSection {
    background: #F8F8F8;
}

span.checkBox {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: 10px;
}

span.checkBox img {
    width: 100%;
    height: 100%;
}

.showmore a + a {
    background: #314183;
    color: #fff;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 11px;
}

.payAndSubscribe {
    background: #D7D7D7;
    margin: 10px 0;
    padding: 25px 15px;
    border-radius: 5px;
}

.payAndSubscribe label {
    color: #EC008B;
    font-size: 18px;
}

.payAndSubscribe label span {
    font-size: 27px;
}

.payAndSubscribe a {
    display: block;
    text-align: center;
    background: #EC008B;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
}

.carousalContainer {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    position: relative;
    float: left;
}

.slick-slide {
    text-align: center;
}